$base-grey: #555;
$bold-grey: #333;
$page-title-background: rgba(0, 0, 0, .2);
$code-background: #eceff1;
$code-border-color: #bdbdbd;
$header-bold-color: #fff;

$link-button-hover-color: #fff;
$link-base: #3f51b5;
$link-strong: #546e7a;

$button-base: #ff5722;
$link-base: #ff5722;
$post-header-title: #fff;
