<!doctype html>

<html lang="en">
<head>
  <title>Yet another blog</title>
  <meta charset="utf-8">
  <meta name="description" content="Programming blog">
  <meta name="author" content="Rostislav Katin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#bf360c">
  <meta name="msapplication-navbutton-color" content="#bf360c">
  <meta name="apple-mobile-web-app-status-bar-style" content="#bf360c">

  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/assets/favicon-96x96.png">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="manifest" href="/manifest.webmanifest">
</head>

<body>
  {{ content }}
  <script src="/assets/js/script.js"></script>
  <script src="/service-workers.js"></script>
</body>
</html>
